BPEL & WSDL files/CRS_BPEL (Part_A)/src/CarRegistry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jax.cmp7038.bcu.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jax.cmp7038.bcu.ac.uk/" name="CarRegistryService">
  <types>
    <xs:schema xmlns:tns="http://jax.cmp7038.bcu.ac.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jax.cmp7038.bcu.ac.uk/">
      <xs:element name="getAvailableCar" type="tns:getAvailableCar"/>
      <xs:element name="getAvailableCarResponse" type="tns:getAvailableCarResponse"/>
      <xs:element name="isAvailable" type="tns:isAvailable"/>
      <xs:element name="isAvailableResponse" type="tns:isAvailableResponse"/>
      <xs:complexType name="getAvailableCar">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAvailableCarResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:car" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="car">
        <xs:sequence>
          <xs:element name="carId" type="xs:int"/>
          <xs:element name="carKey" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isAvailable">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isAvailableResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="getAvailableCar">
    <part name="parameters" element="tns:getAvailableCar"/>
  </message>
  <message name="getAvailableCarResponse">
    <part name="parameters" element="tns:getAvailableCarResponse"/>
  </message>
  <message name="isAvailable">
    <part name="parameters" element="tns:isAvailable"/>
  </message>
  <message name="isAvailableResponse">
    <part name="parameters" element="tns:isAvailableResponse"/>
  </message>
  <portType name="CarRegistryInterface">
    <operation name="getAvailableCar">
      <input wsam:Action="http://jax.cmp7038.bcu.ac.uk/CarRegistryInterface/getAvailableCarRequest" message="tns:getAvailableCar"/>
      <output wsam:Action="http://jax.cmp7038.bcu.ac.uk/CarRegistryInterface/getAvailableCarResponse" message="tns:getAvailableCarResponse"/>
    </operation>
    <operation name="isAvailable">
      <input wsam:Action="http://jax.cmp7038.bcu.ac.uk/CarRegistryInterface/isAvailableRequest" message="tns:isAvailable"/>
      <output wsam:Action="http://jax.cmp7038.bcu.ac.uk/CarRegistryInterface/isAvailableResponse" message="tns:isAvailableResponse"/>
    </operation>
  </portType>
  <binding name="CarRegistryImplPortBinding" type="tns:CarRegistryInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAvailableCar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CarRegistryService">
    <port name="CarRegistryImplPort" binding="tns:CarRegistryImplPortBinding">
      <soap:address location="http://cmp7038-pc:9999/car-reg"/>
    </port>
  </service>
</definitions>
